<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCModPackGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CCModPackGenerator.Properties.Settings>
            <setting name="CommonSkins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>KasumiMisaki</string>
                        <string>Ayane</string>
                        <string>Hitomi</string>
                        <string>Kokoro</string>
                        <string>Helena</string>
                        <string>Momiji</string>
                        <string>NyoTengu</string>
                        <string>Tamaki</string>
                        <string>LeiFang</string>
                        <string>Fiona</string>
                        <string>Monica</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HonokaSkins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Honoka</string>
                        <string>Luna</string>
                        <string>Sayuri</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MarieSkins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MarieRose</string>
                        <string>Nagisa</string>
                        <string>Kanna</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CCModPackGenerator.Properties.Settings>
    </applicationSettings>
</configuration>